// Basics
html {
  background: url(/assets/images/internmob-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  -webkit-text-size-adjust: 100%;
  font: 16px $sans-font;
  color: $offWhite;
  text-align: center;
}
html, body { height: 100%; }
i, cite, em, var, address, dfn { font-style: italic; }
strong, b { font-weight: 700; }
p { color: $offWhite; }
.container {
  max-width: $container;
  width: 95%;
  margin: 0px auto;
}
.clearfix { @include clearfix; }

// Typography
h2 {
  font-family: $primary-font;
  text-transform: uppercase;
  font-size: 3.3em;
  font-weight: 700;
  color: $teal;
  margin: $gutter*3 0 $gutter*2 0;
  line-height: 1em;
  span {
    display: block;
    color: $white;
    font-size: 1.3em;
  }
}
h3 {
  font-weight: 600;
  font-size: 1.81em;
  margin-bottom: $gutter*2;
}
p.intro {
  font-size: 1.7em;
  font-weight: 300;
  width: 90%;
  margin: 0px auto;
  color: lighten($gray, 5%);
  line-height: 1.1em;
  margin-bottom: $gutter;
}


.email-signup {
  legend {
    font-family: $primary-font;
    color: $gray;
    text-transform: uppercase;
    font-style: italic;
    margin: 0px auto;
    line-height: 1.6em;
    font-size: 1.2em;
    text-align: center;
    display: block;
  }

  input:focus[type=text], input[type=email]:focus {
    outline: none;
    border: 1px solid $gray;
  }
  input:focus[type=submit] {
    outline: none;
  }

  input[type=text], input[type=email] {
    border: 1px solid white;
    color: lighten($gray, 30%);
    font-family: $secondary-font;
    font-weight: 100;
    font-size: 1em;
    padding: $gutter/2;
    width: 12.5em;
    -webkit-appearance: textfield;
    @include border-radius(5px);
  }
  input[type=submit] {
    border: 0px;
    background: $lightBlue;
    color: $white;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 9px 0;
    width: 9em;
    @include box-shadow( 0px -3px 0px darken($lightBlue, 15%) inset);
    @include border-radius(5px);
  }

  .mc-field-group {
    margin: 0 0.3em;
    width: 14em;
    float: left;
    display: inline-block;
    label {
      font-size: 0.75em;
      color: darken($gray, 15%);
    }
  }
}


// Links
a { text-decoration: none; }
a:hover { @include transition(all .15s ease-in); }

.accordion {
  padding: $gutter/2;
  margin: $gutter*2 0;
  background: $teal;

  background-image: -o-linear-gradient(-90deg, rgba(255,255,255,0.13) 0%, rgba(0,0,0,0.09) 100%);
  background-image: -moz-linear-gradient(-90deg, rgba(255,255,255,0.13) 0%, rgba(0,0,0,0.09) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.13) 0%, rgba(0,0,0,0.09) 100%);
  background-image: -ms-linear-gradient(-90deg, rgba(255,255,255,0.13) 0%, rgba(0,0,0,0.09) 100%);
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.13) 0%, rgba(0,0,0,0.09) 100%);

  @include border-radius(5px);
  @include box-shadow(inset 0px 1px 2px 0px rgba(255,255,255,0.50));

  p {
    display: none;
    text-align: left;
    padding: 1em;

    margin-top: $gutter/2;
  }
  h4 {
    font-weight: 600;
    cursor: pointer;
    font-size: 1.2em;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
  }
  .email-signup {
    display: none;
    height: 90px;
    font-size: 15.5px;
    margin-top: $gutter;
    legend {
      font-size: 1em;
      color: mix(white, $teal);
    }
    label { color: mix(white, $teal); }
    input[type=submit] {
      background: lighten($gray, 25%);
      color: darken($gray, 5%);
      @include box-shadow( 0px -3px 0px lighten($gray, 13%) inset);
    }
  }
}

footer p {
  color: darken($gray, 20%);
  padding: $gutter/2;
  font-size: 0.8em;
}


@media screen and (max-width:$container) {
  h2 {
    font-size: 1.8em;
    margin: $gutter*2 0 $gutter*2 0;
    span { font-size: 1.2em; }
  }

  .email-signup {
  input[type=text], input[type=email] {
      width: 100%;
                margin: 0px auto;

      display: block;
    }
legend {
  font-size: 1em;
  width: 70%;
  line-height: 1em;
  margin-bottom: $gutter/2;
}
    .mc-field-group {
          margin: 0px auto;

          float: none;

    }
  }
  .accordion   .email-signup {
    height: auto;
  }
}
