$offWhite: #e6e6e6;
$offBlack: #333333;

$teal: #469D9D;
$lightBlue: #65A9A8;
$white: #F6F6F6;
$gray: #8F8F8F;

$gutter: 25px;
$container: 680px;


$primary-font: "Museo Sans", "Helvetica Neue", sans-serif;
$secondary-font: "Source Sans Pro", "Helvetica Neue", sans-serif;

$serif-font: $primary-font;
$sans-font: $secondary-font;





