/* By: Nicole Dominguez, @sodevious */

// * { background-color: rgba(255,255,0,0.1);}

// Variables
@import "variables";

// Vendor
@import "compass";
@import "compass/reset";

@import "site";
 

//alternative layout breakpoints
$mobile: 23em;
$narrow-tablet: 40em;
$wide-tablet: 46em;
$computer: 55em 12;

// My stuff
// @import "shared";
// @import "styles"; // remove for prod