/* By: Nicole Dominguez, @sodevious */
/* line 17, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_site.scss */
html {
  background: url(/assets/images/internmob-bg.jpg) no-repeat center center fixed #333333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 9, ../sass/_site.scss */
body {
  -webkit-text-size-adjust: 100%;
  font: 16px "source-sans-pro", "Source Sans Pro", "Helvetica Neue", sans-serif;
  color: #e6e6e6;
  text-align: center;
}

/* line 15, ../sass/_site.scss */
html, body {
  height: 100%;
}

/* line 16, ../sass/_site.scss */
i, cite, em, var, address, dfn {
  font-style: italic;
}

/* line 17, ../sass/_site.scss */
strong, b {
  font-weight: 700;
}

/* line 18, ../sass/_site.scss */
p {
  color: #e6e6e6;
}

/* line 19, ../sass/_site.scss */
.container {
  max-width: 680px;
  width: 95%;
  margin: 0px auto;
}

/* line 24, ../sass/_site.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 27, ../sass/_site.scss */
h2 {
  font-family: "museo-sans", "Museo Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 3.3em;
  font-weight: 700;
  color: #469d9d;
  margin: 75px 0 50px 0;
  line-height: 1em;
}
/* line 35, ../sass/_site.scss */
h2 span {
  display: block;
  color: #f6f6f6;
  font-size: 1.3em;
}

/* line 41, ../sass/_site.scss */
h3 {
  font-weight: 600;
  font-size: 1.81em;
  margin-bottom: 50px;
}

/* line 46, ../sass/_site.scss */
p.intro {
  font-size: 1.7em;
  font-weight: 300;
  width: 90%;
  margin: 0px auto;
  color: #9c9c9c;
  line-height: 1.1em;
  margin-bottom: 25px;
}

/* line 58, ../sass/_site.scss */
.email-signup legend {
  font-family: "museo-sans", "Museo Sans", "Helvetica Neue", sans-serif;
  color: #8f8f8f;
  text-transform: uppercase;
  font-style: italic;
  margin: 0px auto;
  line-height: 1.6em;
  font-size: 1.2em;
  text-align: center;
  display: block;
}
/* line 70, ../sass/_site.scss */
.email-signup input:focus[type=text], .email-signup input[type=email]:focus {
  outline: none;
  border: 1px solid #8f8f8f;
}
/* line 74, ../sass/_site.scss */
.email-signup input:focus[type=submit] {
  outline: none;
}
/* line 78, ../sass/_site.scss */
.email-signup input[type=text], .email-signup input[type=email] {
  border: 1px solid white;
  color: #5c5c5c;
  font-family: "source-sans-pro", "Source Sans Pro", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 1em;
  padding: 12.5px;
  width: 12.5em;
  -webkit-appearance: textfield;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 89, ../sass/_site.scss */
.email-signup input[type=submit] {
  border: 0px;
  background: #65a9a8;
  color: #f6f6f6;
  font-family: "source-sans-pro", "Source Sans Pro", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  padding: 9px 0;
  width: 9em;
  -webkit-box-shadow: 0px -3px 0px #457c7b inset;
  -moz-box-shadow: 0px -3px 0px #457c7b inset;
  box-shadow: 0px -3px 0px #457c7b inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 103, ../sass/_site.scss */
.email-signup .mc-field-group {
  margin: 0 0.3em;
  width: 14em;
  float: left;
  display: inline-block;
}
/* line 108, ../sass/_site.scss */
.email-signup .mc-field-group label {
  font-size: 0.75em;
  color: dimgrey;
}

/* line 117, ../sass/_site.scss */
a {
  text-decoration: none;
}

/* line 118, ../sass/_site.scss */
a:hover {
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

/* line 120, ../sass/_site.scss */
.accordion {
  padding: 12.5px;
  margin: 50px 0;
  background: #469d9d;
  background-image: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0.13) 0%, rgba(0, 0, 0, 0.09) 100%);
  background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.13) 0%, rgba(0, 0, 0, 0.09) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.13) 0%, rgba(0, 0, 0, 0.09) 100%);
  background-image: -ms-linear-gradient(-90deg, rgba(255, 255, 255, 0.13) 0%, rgba(0, 0, 0, 0.09) 100%);
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.13) 0%, rgba(0, 0, 0, 0.09) 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.5);
}
/* line 134, ../sass/_site.scss */
.accordion p {
  display: none;
  text-align: left;
  padding: 1em;
  margin-top: 12.5px;
}
/* line 141, ../sass/_site.scss */
.accordion h4 {
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2em;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
/* line 147, ../sass/_site.scss */
.accordion .email-signup {
  display: none;
  height: 90px;
  font-size: 15.5px;
  margin-top: 25px;
}
/* line 152, ../sass/_site.scss */
.accordion .email-signup legend {
  font-size: 1em;
  color: #a2cece;
}
/* line 156, ../sass/_site.scss */
.accordion .email-signup label {
  color: #a2cece;
}
/* line 157, ../sass/_site.scss */
.accordion .email-signup input[type=submit] {
  background: #cfcfcf;
  color: #828282;
  -webkit-box-shadow: 0px -3px 0px #b0b0b0 inset;
  -moz-box-shadow: 0px -3px 0px #b0b0b0 inset;
  box-shadow: 0px -3px 0px #b0b0b0 inset;
}

/* line 165, ../sass/_site.scss */
footer p {
  color: #5c5c5c;
  padding: 12.5px;
  font-size: 0.8em;
}

@media screen and (max-width: 680px) {
  /* line 173, ../sass/_site.scss */
  h2 {
    font-size: 1.8em;
    margin: 50px 0 50px 0;
  }
  /* line 176, ../sass/_site.scss */
  h2 span {
    font-size: 1.2em;
  }

  /* line 180, ../sass/_site.scss */
  .email-signup input[type=text], .email-signup input[type=email] {
    width: 100%;
    margin: 0px auto;
    display: block;
  }
  /* line 186, ../sass/_site.scss */
  .email-signup legend {
    font-size: 1em;
    width: 70%;
    line-height: 1em;
    margin-bottom: 12.5px;
  }
  /* line 192, ../sass/_site.scss */
  .email-signup .mc-field-group {
    margin: 0px auto;
    float: none;
  }

  /* line 199, ../sass/_site.scss */
  .accordion .email-signup {
    height: auto;
  }
}
